<h1>This is the Show Page for book title: <%= @books[:title] %></h1>
<p><%= @books[:body] %></p>
<p>Written by: <%= @books[:author] %></p>
<a href="/books/<%= @books[:id] %>/edit">Edit</a>
<br>
<a href="/authors/<%= @books[:authorid] %>">View Author Page</a>
